
.bill-state,.money-table{
    content:"";
    display:table;
    clear:both;
}
.billPage-contain input[type="text"],.billPage-box input[type="text"]{
    border: 1px solid transparent !important;
    padding: 0;
    background-color: transparent !important;
}

.billPage-contain{
    background-color: #fff;
}
.billPage-box{
    position: relative;
    background:url("../img/bill.png") no-repeat;
    width: 900px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
.billPage-box>input{
    padding-left: 10px;
}
.credit-name,.credit-kind,.debtor,.initial-debtor,.initial-login-date,.pay-date{
    position: absolute;
    width: 282px;
    height: 29px;
}
.credit-name{
    top: 105px;
    left:193px;
}
.credit-kind{
    top: 105px;
    left:584px;
}
.debtor{
    top: 132px;
    left:193px;
}
.initial-debtor{
    top: 132px;
    left:584px;
}
.initial-login-date{
    top: 158px;
    left:192px;
}
.pay-date{
    top: 158px;
    left:584px;
}
.bill-state{
    position: absolute;
    top: 187px;
    left: 22px;
    width: 800px;
}
.bill-state>li{
    float: left;
    font-size: 12px;
    line-height: 30px;
    padding-left: 63px;
    padding-top: 25px;
    padding-right: 20px;
}
.bill-state>li:first-child{
    width: 214px;
}
.bill-state>li:last-child{
    width: 418px;
}
.bill-state>.last-li{
	width: 418px;
}
.bill-state>li input{
    margin: 0px;
    vertical-align:sub;
}
.money-chinese{
	position: absolute;
    height: 29px;
    top: 428px;
    left:248px;
}
.credit-accPeople{
    position: absolute;
    width:705px;
    height: 29px;
    top: 381px;
    left:192px;
}
.money-table{
    position: absolute;
    top: 424px;
    right: 53px;
}
.money-table>li{
    float: left;
}
.money-table input{
    text-align: center;
    width:19px;
    height: 37px;
}
.money-table>li:first-child input{
    width:21px;
}
.credit-number{
    position: absolute;
    width:270px;
    height: 29px;
    top: 460px;
    left:193px;
}
.movable-property-number{
    position: absolute;
    width:234px;
    height: 29px;
    top: 459px;
    left:634px;
}


